@model IEnumerable<Serrana.Models.Agrotoxico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtd_Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidade_Medida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtd_Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidade_Medida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Agro_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Agro_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Agro_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
