@model IEnumerable<Serrana.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tamanho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cultura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cultura.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Cargo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Area_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Area_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Area_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
